# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next
out

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem
.env*.local

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Version control
.git
.gitignore

# Documentation
README.md
docs

# Development
.vscode
.idea

# Supabase local development
supabase/.branches
supabase/.temp

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore