# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Vite
.vite/
.next/
.nuxt/
/dist
/out

# Local Environment Variables
.env
.env.local
.env.*.local
!/.env.example

# Supabase
supabase/.branches
supabase/.temp
supabase/.env.keys
supabase/.env.local
supabase/.env.*.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
/build
/dist

# Misc
.npm
.eslintcache

.claude/